/* ==== HomePage (index.html) ==== */
/* ==== Header ==== */
.header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header__navbar */
.header__navbar {
    display: flex;
    gap: 48px;
}

/* header__navbar-item */
.header__navbar-item {
    position: relative;
}

/* navbar-item--active */
.navbar-item--active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: var(--color-black);
    border-radius: 9999px;
}

/* header__more-button */
.header__more-button {
    width: 28px;
    height: 28px;
}

.popup-wrapper {
    position: relative;
    display: inline-block;
}

.popup-toggle {
    display: none;
}

/* Hidden more icon button */
.popup-toggle:checked ~ .popup-button .popup-button__icon--more {
    display: none;
}

/* Show dropdown icon button */
.popup-toggle:checked ~ .popup-button .popup-button__icon--dropdown {
    display: inline-block;
}

/* Style for button */
.popup-button {
    cursor: pointer;
    /* padding: 8px 16px;
    background-color: #ffb400; */
    border: none;
    color: white;
    border-radius: 6px;
}

.popup-button__icon--more {
    width: 28px;
    height: 28px;
}

.popup-button__icon--dropdown {
    width: 28px;
    height: 28px;
    display: none;
}

/* Popup style */
.popup-content {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color-white);
    border: 1px solid #ccc;
    padding: 16px;
    min-width: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    z-index: 10;
}

/* When checkbox is checked */
.popup-toggle:checked + .popup-button + .popup-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* ==== Banner ==== */
/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.intro > * + * {
    margin-top: 20px;
}

/* Intro Title */
.intro__title {
    font-size: 4.8rem;
    font-weight: bold;
}

/* Intro Description */
.intro__desc {
    font-size: 2rem;
}

/* Intro Container */
.intro-container {
    display: flex;
    gap: 16px;
}

/* Intro Hire Me Button */
.intro-hire-me-btn {
    width: 15%;
    padding: 5px 15px;
}

/* Intro Download CV Button */
.intro-download-cv-btn {
    width: 15%;
    padding: 5px 15px;
}

/* avatar-container */
.avatar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
}

/* avatar-container__img */
.avatar-container__img {
    width: 500px;
    height: 100%;
    aspect-ratio: 1/1;
    align-self: flex-start;
    object-fit: cover;
}

/* ==== List Services ==== */
/* List Services */
.list-services {
}

/* Add spacing between elements in the List Services */
.list-services > * + * {
    margin-top: 2rem;
}

/* Service Item */
.service-item {
    padding: 32px;
    margin-bottom: 16px;
}

.service-item > * + * {
    margin-top: 16px;
}

.service-item__container {
    display: flex;
    justify-content: center;
    justify-content: center;
}

/* Service Item -> Image */
.service-item__img {
    width: 48px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* Service Item -> Title */
.service-item__title {
    /* max-height: 70px; */
}

/* Service Item -> Description */
.service-item__desc {
    /* height: 100%; */
    /* max-height: 200px; */
}

/* ==== List Feedback ==== */
/* List Feedback */
.list-feedback {
    margin-left: 15%;
    margin-right: 15%;
}

/* Add spacing between elements in the List Feedback */
.list-feedback > * + * {
    margin-top: 16px;
}

/* Feedback Item */
.feedback-item {
    padding: 40px;
    margin-bottom: 16px;
}

/* Add spacing between elements in the List Feedback */
.feedback-item > * + * {
    margin-top: 16px;
}

/* Feedback Item -> Wrapper */
.feedback-item__wrapper {
    display: flex;
    gap: 20px;
}

/* Feedback Item -> Wrapper Image */
.feedback-item__wrapper-img {
    width: 100px;
    height: 100px;
}

/* feedback-item -> Customer Avatar */
.feedback-item__customer-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Feedback Item -> wrapper-about */
.feedback-item__wrapper-about {
}

/* Feedback Item -> Customer Name */
.feedback-item__customer-name {
}

/* Feedback Item -> Customer Job Title */
.feedback-item__customer-job-title {
}

/* Rating Wrapper */
.rating-wrapper {
    display: flex;
    gap: 8px;
}

/* Rating Wrapper -> Item */
.rating-wrapper__item {
    width: 20px;
    height: 20px;
}

/* Feedback Item -> Content */
.feedback-item__content {
    /* height: 100%; */
    max-height: fit-content;
}

/* ==== Footer ==== */
/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px 0;
}

/* Footer -> Social Container */
.footer__social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* Footer -> Social Item */
.footer__social-item {
    width: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    cursor: pointer;
}

/* Footer -> Title */
.footer__title {
}

.br-xs {
    display: none;
}

/* ==== AboutPage (about.html) ==== */
/* About */
.about {
    margin-left: 10%;
    margin-right: 10%;
}

/* Add spacing between elements in the List Feedback */
.about > * + * {
    margin-top: 16px;
}

/* About Me -> Image Wrapper */
.about-me__img-wrapper {
    /* margin-bottom: 4rem; */
}

/* About Me -> Image */
.about-me__img {
    width: 100%;
    object-fit: cover;
}

/* About Me -> Desc Wrapper */
.about-me__desc-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}

/* ==== Responsive ==== */
/* Only Small Devices */
@media (max-width: 575.98px) {
    /* ==== Header ==== */
    /* header__navbar */
    .header__navbar {
        display: none;
    }

    /* ==== Banner ==== */
    /* Intro Container */
    .intro {
        padding: 15px 0;
    }

    /* Intro Hire Me Button */
    .intro-hire-me-btn {
        width: 35%;
        padding: 5px 0px;
    }

    /* Intro Download CV Button */
    .intro-download-cv-btn {
        width: 35%;
        padding: 5px 0px;
    }

    /* ===== Feedback Content ==== */
    /* Feedback Item */
    .feedback-item {
        padding: 20px;
        margin-bottom: 16px;
    }

    /* Feedback Item -> Content */
    .feedback-item__content {
        max-height: fit-content;
    }

    /* Feedback Item -> Wrapper */
    .feedback-item__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    /* Feedback Item -> Wrapper Image */
    .feedback-item__wrapper-img {
        width: 100px;
        height: 100px;
    }

    /* feedback-item -> Customer Avatar */
    .feedback-item__customer-avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* ==== Footer ==== */
    /* Footer -> Title */
    .footer__title {
        text-align: center;
    }

    .br-xs {
        display: inline-block;
    }

    /* ==== AboutPage (about.html) ==== */
    /* About Me -> Image Wrapper */
    .about-me__img-wrapper {
        margin-bottom: 4rem;
    }

    /* About Me -> Desc Wrapper */
    .about-me__desc-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

/* SM Breakpoint */
@media (min-width: 576px) {
    /* ==== Header ==== */
    /* header__navbar */
    .header__navbar {
        display: none;
    }

    /* Intro Container */
    .intro {
        padding: 15px 0;
    }

    .intro-hire-me-btn {
        width: 25%;
        padding: 5px 10px;
    }

    /* Intro Download CV Button */
    .intro-download-cv-btn {
        width: 25%;
        padding: 5px 10px;
    }

    /* ==== AboutPage (about.html) ==== */
    /* About Me -> Image Wrapper */
    .about-me__img-wrapper {
        margin-bottom: 4rem;
    }

    /* About Me -> Desc Wrapper */
    .about-me__desc-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

/* MD Breakpoint */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* ==== Header ==== */
    /* header__navbar */
    .header__navbar {
        display: flex;
        gap: 32px;
    }

    /* Intro Container */
    .intro {
        padding: 15px 0;
    }

    /* Intro Hire Me Button */
    .intro-hire-me-btn {
        width: 35%;
        padding: 5px 0px;
    }

    /* Intro Download CV Button */
    .intro-download-cv-btn {
        width: 35%;
        padding: 5px 0px;
    }

    /* ===== Feedback Content ==== */
    /* Feedback Item */
    .feedback-item {
        padding: 20px;
        margin-bottom: 16px;
    }

    /* Feedback Item -> Content */
    .feedback-item__content {
        max-height: fit-content;
    }

    /* Feedback Item -> Wrapper */
    .feedback-item__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    /* Feedback Item -> Wrapper Image */
    .feedback-item__wrapper-img {
        width: 100px;
        height: 100px;
    }

    /* feedback-item -> Customer Avatar */
    .feedback-item__customer-avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* LG Breakpoint */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* ==== Header ==== */
    /* header__navbar */
    .header__navbar {
        display: flex;
        gap: 32px;
    }

    /* ==== Banner ==== */
    /* Intro Container */
    .intro {
        padding: 15px 0;
    }

    /* Intro Hire Me Button */
    .intro-hire-me-btn {
        width: 35%;
        padding: 5px 0px;
    }

    /* Intro Download CV Button */
    .intro-download-cv-btn {
        width: 35%;
        padding: 5px 0px;
    }

    /* ==== List Services ==== */

    /* ===== Feedback Content ==== */
    /* Feedback Item */
    .feedback-item {
        padding: 20px;
        margin-bottom: 16px;
    }

    /* Feedback Item -> Content */
    .feedback-item__content {
        max-height: fit-content;
    }

    /* Feedback Item -> Wrapper */
    .feedback-item__wrapper {
        display: flex;
        gap: 20px;
    }

    /* Feedback Item -> Wrapper Image */
    .feedback-item__wrapper-img {
        width: 100px;
        height: 100px;
    }

    /* feedback-item -> Customer Avatar */
    .feedback-item__customer-avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* XL Breakpoint*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
    /* ==== Header ==== */
    /* header__navbar */
    .header__navbar {
        display: flex;
        gap: 32px;
    }

    /* ==== Banner ==== */
    /* Intro Hire Me Button */
    .intro-hire-me-btn {
        width: 35%;
        padding: 5px 0px;
    }

    /* Intro Download CV Button */
    .intro-download-cv-btn {
        width: 35%;
        padding: 5px 0px;
    }
}

/* XXL Breakpoint*/
@media (min-width: 1900px) {
    /* ==== Header ==== */
    /* header__navbar */
    .header__navbar {
        display: flex;
        gap: 32px;
    }

    /* ==== Banner ==== */
    /* Intro Hire Me Button */
    .intro-hire-me-btn {
        width: 15%;
        padding: 5px 15px;
    }

    /* Intro Download CV Button */
    .intro-download-cv-btn {
        width: 15%;
        padding: 5px 15px;
    }
}
