/* header */
.header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header__navbar */
.header__navbar {
    display: flex;
    gap: 48px;
}

/* header__navbar-item */
.header__navbar-item {
    position: relative;
}

/* navbar-item--active */
.navbar-item--active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: var(--color-black);
    border-radius: 9999px;
}

/* header__more-button */
.header__more-button {
    width: 28px;
    height: 28px;
}

.popup-wrapper {
    position: relative;
    display: inline-block;
}

.popup-toggle {
    display: none;
}

/* Hidden more icon button */
.popup-toggle:checked ~ .popup-button .popup-button__icon--more {
    display: none;
}

/* Show dropdown icon button */
.popup-toggle:checked ~ .popup-button .popup-button__icon--dropdown {
    display: inline-block;
}

/* Style for button */
.popup-button {
    cursor: pointer;
    /* padding: 8px 16px;
    background-color: #ffb400; */
    border: none;
    color: white;
    border-radius: 6px;
}

.popup-button__icon--more {
    width: 28px;
    height: 28px;
}

.popup-button__icon--dropdown {
    width: 28px;
    height: 28px;
    display: none;
}

/* Popup style */
.popup-content {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color-white);
    border: 1px solid #ccc;
    padding: 16px;
    min-width: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    z-index: 10;
}

/* When checkbox is checked */
.popup-toggle:checked + .popup-button + .popup-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Only Small Devices */
@media (max-width: 575.98px) {
    /* header__navbar */
    .header__navbar {
        display: none;
    }
}

/* SM Breakpoint */
@media (min-width: 576px) {
    /* header__navbar */
    .header__navbar {
        display: none;
    }
}

/* MD Breakpoint */
@media (min-width: 768px) {
    /* header__navbar */
    .header__navbar {
        display: flex;
        gap: 32px;
    }
}

/* LG Breakpoint */
@media (min-width: 992px) {
    /* header__navbar */
    .header__navbar {
        display: flex;
        gap: 32px;
    }
}

/* XL Breakpoint*/
@media (min-width: 1199px) {
    /* header__navbar */
    .header__navbar {
        display: flex;
        gap: 32px;
    }
}

/* XXL Breakpoint*/
@media (min-width: 1900px) {
    /* header__navbar */
    .header__navbar {
        display: flex;
        gap: 32px;
    }
}
